.container
  position: relative
  max-width: 1210px
  width: 100%
  padding: 0 10px
  margin: 0 auto

@media only screen and (min-width: 768px)
  .container
    padding: 0 20px

.main-wrapper
  display: flex
  flex-direction: column
  justify-content: space-between
  min-height: 100vh
  &__aside
    padding-top: 20px
  &__main
    padding-bottom: 150px

@media only screen and (min-width: 768px)
  .main-wrapper
    &__aside
      position: fixed
      top: 50px
      bottom: 50px
      width: 120px
      .aside-wrapper
        position: absolute
        height: 100%
        padding-right: 30px
        overflow-y: auto
    &__main
      width: 100%
      padding-top: 65px
      padding-left: 170px

@media only screen and (min-width: 768px)
  .aside-wrapper::-webkit-scrollbar-track
    border-radius: 2px
    background: rgba($color-text, .1)
  .aside-wrapper::-webkit-scrollbar
    width: 4px
    border-radius: 2px
    background: rgba($color-text, .1)
  .aside-wrapper::-webkit-scrollbar-thumb
    border-radius: 2px
    background: rgba($color-text, .3)
