.container
  max-width: 1200px
  width: 100%
  padding: 0 20px
  margin: 0 auto

.main-wrapper
  display: flex
  height: 100vh
  overflow-y: auto
  flex-direction: column
  justify-content: space-between
  &__aside
    padding-top: 15px

@media only screen and (min-width: 768px)
  .main-wrapper
    &__aside
      position: fixed
      top: 50px
      bottom: 50px
      width: 120px
      .aside-wrapper
        position: absolute
        height: 100%
        padding-right: 30px
        overflow-y: auto
    &__main
      width: 100%
      padding-top: 70px
      padding-bottom: 50px
      padding-left: 170px
