.gallery
  img
    display: inline-block
    margin: 0 auto
    max-width: 100%
    max-height: calc(100vh - 100px)
  &__img
    position: relative
    display: flex
    align-items: center
    width: 100%
    text-align: center
    font-size: 0
    background-color: #000000
  &__const
    position: relative
    min-width: 200px
    padding: 20px 10px
    padding-bottom: 35px
    font-size: 16px
    line-height: 1.5
  &__arrow
    position: absolute
    top: 50%
    margin-top: -10px
    font-size: 20px
    font-weight: bold
    color: #fff
    cursor: pointer
    &--right
      right: 2px
    &--left
      left: 2px

@media only screen and (min-width: 600px)
  .gallery
    &__item
      display: flex
    &__const
      min-width: 200px
      width: 200px
      padding-left: 20px
      padding-right: 20px
    &__text
      height: 100%
      padding: 20px 20px
    &__arrow
      &--right
        right: 10px
      &--left
        left: 10px

@media only screen and (min-width: 768px)
  .gallery
    &__const
      min-width: 300px
      width: 300px
    &__arrow
      margin-top: -15px
      font-size: 30px

@media only screen and (min-width: 1025px)
  .gallery
    &__arrow
      color: rgba(255, 255, 255, 0.4)
      transition: all .1s linear
    &__img
      +img-hover
      &:hover
        .gallery__arrow
          color: rgba(255, 255, 255, .8)
