.togglePage
  &-leave-active
    animation: tooglePage .5s reverse
  &-enter-active
    animation: tooglePage .5s

.fade-enter-active,
.fade-leave-active
  transition: opacity .2s
.fade-enter,
.fade-leave-to
  opacity: 0

@keyframes tooglePage
  from
    opacity: 0
  to
    opacity: 1
