body
  font-family: $primary-font
  font-size: 16px
  line-height: 1
  color: $color-text
  background-color: $background-body
  -webkit-overflow-scrolling: touch
  &.is-fixed
    overflow: hidden
    margin-right: 15px

a
  color: inherit
  text-decoration: none

p
  font-size: 20px
  line-height: 1.4
  &:not(:last-child)
    margin-bottom: 20px

img
  max-width: 100%
