.post
  &:not(:last-child)
    margin-bottom: 100px
  a
    display: inline-block
  &__title
    margin-bottom: 10px
    line-height: 1.3
    a
      transition: $transition
      &:hover
        color: $color-accent
  &__tags
    margin-bottom: 30px
    color: rgba($color-text-lighter, .4)
    font-size: 16px
  &__tag
    display: inline-block
    vertical-align: middle
    margin-bottom: 5px
    &:not(:last-child)
      margin-right: 7px
  &__img
    margin-bottom: 20px
    text-align: center
    font-size: 0
    cursor: pointer
  img
    display: inline-block
    max-width: 100%
  &__desc
    margin-bottom: 20px
    +overflow-text(7)
  &__gallery-item
    &:not(:last-child)
      margin-bottom: 40px
