// fonts
$logo-font: 'Roboto Condensed', sans-serif
$title-font: 'Lustria', sans-serif
$primary-font: 'Lato', sans-serif

// colors
$background-body: #FFFCFC

$color-text: #170F0F
$color-text-lighter: rgba($color-text, .7)
$color-accent: #fa3e2e

// normal transition
$transition: all .2s linear
