// fonts
$decorate-font: 'Montserrat', sans-serif
$primary-font: 'Source Sans Pro', sans-serif

// colors
$color-text: #170F0F
$color-accent: #fa3e2e

// normal transition
$transition: all .2s linear
