.post
  &:not(:last-child)
    margin-bottom: 100px
  a
    display: inline-block
  &__title
    margin-bottom: 30px
    a
      transition: $transition
      &:hover
        color: $color-accent
  &__img
    margin-bottom: 20px
  img
    display: block
    max-width: 100%
  &__desc
    +overflow-text(7)
