.main-nav
  &__list
    margin: 30px -7px
  &__link
    display: inline-block
    vertical-align: middle
    font-size: 20px
    color: $color-text-lighter
    +line-hover
  &__item
    display: block
    padding: 7px
    box-sizing: border-box
    .main-nav__link
      &.is-active
        color: $color-accent
  .u-small
    display: inline-block
    vertical-align: middle
    margin-left: 4px
    font-size: 12px
    color: rgba($color-text-lighter, .5)

@media only screen and (max-width: 767px)
  .main-nav
    &__list
      display: flex
      align-items: center
      flex-wrap: wrap
