.main-nav
  &__list
    margin: 30px -7px
  &__item
    position: relative
    display: block
    padding: 7px
    box-sizing: border-box
    &.is-active
      .main-nav__link
        color: $color-accent
      .main-nav__count
        opacity: 1
        visibility: visible
  &__link
    display: inline-block
    font-size: 20px
    color: $color-text-lighter
    cursor: pointer
    +line-hover
  &__count
    position: absolute
    margin-top: -2px
    padding-left: 3px
    font-size: 12px
    color: rgba($color-accent, .7)
    text-align: left
    opacity: 0
    visibility: hidden
    z-index: 1
    transition: all .2s linear

@media only screen and (max-width: 767px)
  .main-nav
    &__list
      display: flex
      align-items: center
      flex-wrap: wrap
