.logo
  text-align: right
  font-family: $decorate-font
  text-transform: uppercase
  color: rgba($color-text, .95)
  cursor: pointer
  user-select: none
  &__link
    display: inline-block
  &__main
    display: block
    font-size: 28px
    font-weight: bold
  &__text
    display: block
    margin-top: 2px
    padding: 0 2px
    font-size: 10px
    letter-spacing: 1pt

@media only screen and (min-width: 768px)
  .logo
    margin-bottom: 40px
