.logo
  font-family: $logo-font
  text-transform: uppercase
  color: rgba($color-text, .9)
  &__link
    display: inline-block
    text-align: center
  &__main
    display: block
    font-size: 52px
    font-weight: bold
  &__text
    display: block
    padding: 0 2px
    font-size: 18px
    letter-spacing: .7pt
  img
    display: inline-block
    max-width: 90px
    opacity: .95

@media only screen and (min-width: 768px)
  .logo
    margin-bottom: 40px
