.logo
  font-family: $logo-font
  text-transform: uppercase
  color: rgba($color-text, .9)
  cursor: pointer
  &__link
    display: inline-block
    &.is-active
      cursor: default
  &__main
    display: block
    font-size: 28px
    font-weight: bold
  &__text
    display: block
    margin-top: 2px
    padding: 0 2px
    font-size: 10px
    letter-spacing: 1pt
  img
    display: inline-block
    max-width: 50px
    opacity: .95

@media only screen and (min-width: 768px)
  .logo
    margin-bottom: 40px
